<footer class="footer">
	<div class="footer-inner container"> 
		<div class="col-lg-2 footer-brdr padding-left">
			<div class="col-xs-6 col-sm-6 col-lg-6 padding-left">
				<a style="cursor:pointer" href="#"><img src="assets/images/logo.jpg"></a>	
			</div>
			<div class="col-lg-6 social-footer text-right">
				<ul>
					<li><span class="fa-stack fa-lg"><a href="//facebook.com/cvplus.co"> <i class="fa fa-circle fa-stack-2x facebook-bg"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> </a></span></li>
					<li><span class="fa-stack fa-lg"><a href="//twitter.com/_cvplus"> <i class="fa fa-circle fa-stack-2x twitter-bg"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse"></i> </a></span></li>
					<li><span class="fa-stack fa-lg"><a href="//linkedin.com/in/harrietchurchward"> <i class="fa fa-circle fa-stack-2x  linkedin-bg"></i> <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i> </a></span></li>
				</ul>
			</div>
		</div>
	
		<div class="col-lg-3 hidden-md hidden-sm hidden-xs footer-brdr">
			<a class="footer_heading" ><span>Teaching Resources</span></a>
			<p class="footer_content">To get teachers started quickly and easily Lesson Plan, Workbook and Presentation</p>
		</div>	
		
		<div class="col-lg-3 hidden-md hidden-sm hidden-xs footer-brdr">
			<a class="footer_heading" ><span>Blog</span></a>
			<p class="footer_content">Bonus resources and teacher testimonials How CV+ tackles Ofsted requirements</p>
		</div>	
		
		<div class="col-lg-4 hidden-md hidden-sm hidden-xs footer-brdr-last">
			<a class="footer_heading" ><span>About Us</span></a>
			<p class="footer_content">Meet our team, friends and supporters Our ethos, ambition and vision for CV+</p>
		</div>	
	</div>
	<div class="shell-footer">
		<div class="container">
			<div class="col-lg-6">
				<h6>CV+ @ 2016 . England UK - Terms &amp; Conditions - Privacy Policy</h6>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</footer>
