<app-header></app-header>
	<div class="container">
	  <div class="laptop-slider teachers-pages-slider">
	  <h1> Rocket Student Success</h1>
	  <h2> at Work Experience, UCAS and Job Applications</h2>
	  <h3>Expert Guidance with Great Presentation</h3>

	<p>
	<a (click)="signupModal.show()"  class="btn btn-primary btn-lg" role="button">   SIGN UP FOR FREE  </a>
	</p>
	 <app-sign-up></app-sign-up>
	</div>
	<div class="freeebie-banner-container" id="teaching_resources">
	<div class="container">
	<h1>Free classroom resources?<br>Help yourself!</h1>
	<div class="col-md-2"></div>


	<div class="col-md-8">


	<div class="freeebie-banner-container-line"></div>
	<a  target="blank" style="text-decoration: none;">
	<h2><span><img src="assets/images/download.png"></span>Getting Started</h2></a>
	<h4 >Download our guide to getting started here.</h4>
	<h3>(30 mins)</h3>


	<div class="freeebie-banner-container-line"></div>
	<a target="blank" style="text-decoration: none;">
	<h2><span><img src="assets/images/download.png"></span>Big CV + Workshop </h2>
	<h4 >Take our free workshop to understand how to use our service.</h4></a>
	<h3>(2 + hours)</h3>

	<a target="blank" style="text-decoration: none;">
	<h2><span><img src="assets/images/download.png"></span>Big CV + Workshop Lesson Plan</h2>
	<h4 >Download our pre-made lesson plan.</h4></a>
	<a  target="blank" style="text-decoration: none;">
	<h2><span><img src="assets/images/download.png"></span>Big CV + Workshop Workbook</h2>
	<h4 >This document contains the activities referred to in the Class Presentation.</h4></a>

	<div class="freeebie-banner-container-line"></div>

	</div>

	<div class="col-md-3"></div>

	</div>
	</div>
	<div class="paidforbanner-container">
	<div class="container">

	<h1 class="workshop_heading">We also provide the Big CV + Workshop</h1>



	<div class="col-md-4  col-sm-4 col-xs-4 manage-your-people">
	<div class="green-lines"></div>
	<h1><img class="center-block " src="assets/images/green-tick.png"></h1>
	<h2 class="h2_heading">Powerpoint</h2>
	</div>



	<div class="col-md-4  col-sm-4 col-xs-4 manage-your-people">
	<div class="green-lines"></div>
	<h1><img class="center-block " src="assets/images/green-tick.png"></h1>
	<h2 class="h2_heading">Printed</h2>
	</div>



	<div class="col-md-4  col-sm-4 col-xs-4 manage-your-people">
	<div class="green-lines"></div>
	<h1><img class="center-block " src="assets/images/green-tick.png"></h1>
	<h2 class="h2_heading">Chaptered</h2>
	</div>


	<div class="red-plus-icon "><img src="assets/images/plus-red.png" class="img_margin_top"></div>


	<div class="clear"></div>


	<div class="col-md-2"></div>
	<div class="col-md-8 bottom_margin">

	<h3 class="h3_bottom"><span><img src="assets/images/green-tick.png"></span>Bulk student registration to save you time</h3>
	<h3 class="h3_bottom"><span><img src="assets/images/blue-tick.png"></span>Example CVs and wall posts</h3>
	<h3 class="h3_bottom"><span><img src="assets/images/yellow-tick.png"></span>Tips on how other teachers use CV+</h3>
	<h3 class="h3_bottom"><span><img src="assets/images/red-tick.png"></span>CV+ presentation to share with your colleagues</h3>
	<h3 class="h3_bottom"><span><img src="assets/images/purple-tick.png"></span>Login details to see a sample student account</h3>
	<h3 class="h3_bottom"><span><img src="assets/images/green-tick.png"></span>CV+ posters with web address to direct students</h3>

	</div>
	<div class="col-md-2"></div>



	<div class="clear"></div>

	<!-- <p><a class="btn btn-primary btn-lg" role="button">JUST ASK!</a></p> -->

	</div>
	</div>
	</div>
<app-footer></app-footer>
