
 <app-header></app-header>
 
<div class="container">
  <div class='thetop'></div>
  <!--<div class='testheight'>Some exciting content... Scroll down for the button to appear.</div>-->

</div>


<!-- home  page start here -->
<div class="container">
<div class="laptop-slider">

 











  <h1>A Free Digital Portfolio</h1>
  <h2>with CV Builder and Personal Statement Helper</h2>
  
  <p *ngIf="!loggedIn"><a  (click)="signupModal.show()" class="btn btn-primary btn-lg" role="button"> SIGN UP FOR FREE </a></p>
  
 <app-sign-up></app-sign-up>
 
 <div class="laptopBgimg-no-slider"><img src="assets/images/laptops.png" alt=""></div>
 
 
  
 <div class="laptopBgimg" style="position:relative;">
    <div class="row">
        <div class="col-md-12">















<div id="carousel-example-generic" class="carousel slide vertical">
      <!-- Indicators -->
<!--      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>-->

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
      

        <!-- First slide -->
        <!--<div class="item  deepskyblue">
        

          <div class="carousel-caption">

      
   
          </div>
        </div>--> 
        
        <!-- /.item -->
        
        
        

        <!-- Second slide -->
        <div class="item active darkerskyblue">
        
          <div class="carousel-caption">

  
            
            <h3 class="icon-container-categorise" data-animation="animated zoomInLeft">
            <span class="glyphicon "><img src="assets/images/categorise.png"></span>
            </h3>
            
            <h3 class="icon-container-share" data-animation="animated zoomInLeft">
            <span class="glyphicon "><img src="assets/images/share.png"></span>
            </h3> 
            
            <h3 class="icon-container " data-animation="animated zoomInLeft">
            <span class="glyphicon "><img src="assets/images/find.png"></span>
            </h3>
    
         

         
         
          </div>
        </div>
        <!-- /.item -->
        
        

        <!-- Third slide -->
        <div class="item skyblue  ">
        
  <div class="tech-slideshow">
  <div class="mover-1"></div>
  </div>
  
        </div>
        <!-- /.item -->
        

      </div><!-- /.carousel-inner -->

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
<!--        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
<!--        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
        <span class="sr-only">Next</span>
      </a>
    </div>






















    </div>
</div>

 </div>
  




<div class="ms-laptop-template">

</div>



</div></div>

  <div class="lap-slider-banner-plus"></div>
  <div class="lap-slider-banner-plus-image"><img src="assets/images/PLUS.png"></div>
  

    
    
    
    

  
  
  
  
  <div class="home-cv-builder-laptop-lamp ">
  
  
  
  

   <section class="section--green wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="assets/images/laptop-file.png"></section> 



  

  <section class="section--yellow wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"><img src="assets/images/laptop-lamp.png"></section>
  
  
  
  <div class="container">
<!--  <img src="images/laptop--lamp.png">-->

  <div class="lap-slider-banner-badge-sml wow fadeInDown animated" >
 <p> CV <br/> Builder</p>
  </div>

  <div class="lap-slider-banner-badge wow fadeInDown animated" >
 <p> Personal<br/>Statement<br/> Helper</p>
  </div>
  
  <div class="clear"></div>

    <p *ngIf="!loggedIn"><a  (click)="signupModal.show()"  class="btn btn-primary btn-lg" role="button"> SIGN UP FOR FREE</a></p>

  </div>
  
  </div>
  

 



<div class="manage-your-people-container ">
<div class="container">

<h1>Manage your People</h1>
<h2>A dashboard feature for Schools, Colleges, Charities, Universities,<br/>Welfare to work providers, Recruiters...
</h2>
<h3>Coming soon</h3>







<div class="col-md-3  col-sm-3 col-xs-6 manage-your-people">
<div class="green-lines"></div>
<h1><img class="center-block " src="assets/images/tick.png"></h1>
<h2>Manage your people</h2>
</div>
<div class="col-md-3  col-sm-3 col-xs-6 manage-your-people">
<div class="green-lines"></div>
<h1><img class="center-block " src="assets/images/tick.png"></h1>
<h2>Track their progress</h2>
</div>
<div class="col-md-3  col-sm-3 col-xs-6 manage-your-people">
<div class="green-lines"></div>
<h1><img class="center-block " src="assets/images/tick.png"></h1>
<h2>Review their content</h2>
</div>
<div class="col-md-3  col-sm-3 col-xs-6 manage-your-people">
<div class="green-lines"></div>
<h1><img class="center-block " src="assets/images/tick.png"></h1>
<h2>Send them feedback</h2>
</div>
</div></div>

<app-footer></app-footer>


